@import "./../variables.scss";


.header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.33);
  padding: 10px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 945px) {
      flex-direction: column;
      align-self: center
    }
  }
}

.headerLogo {
  display: flex;

  img {
    width: 38px;
    margin-right: 15px;
  }

  .headerName {
    color: #181818;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .headerDescription {
    color: #7b7b7b;
    margin: 5px 0;
  }
}

.headerCart {

}

.button {
  color: white;
  display: flex;
  background-color: $orange;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 10ms ease-in-out, border-color 10ms ease-in-out;

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken($orange, 8%);
  }

}
